<a href="https://colab.research.google.com/github/sazzad15-1779/machine-learning/blob/master/suv_car_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/shivang98/Social-Network-ads-Boost/master/Social_Network_Ads.csv')
data.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [3]:
x = data[['Age','EstimatedSalary']]
y = data['Purchased']
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [0]:
tr_x,te_x,tr_y,te_y  = train_test_split(x,y,test_size = .3,random_state =1)

In [0]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
tr_x = s.fit_transform(tr_x)
te_x =s.transform(te_x)

In [6]:
logreg = LogisticRegression()
logreg.fit(tr_x,tr_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
pre = logreg.predict(te_x)
pre

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

# accurecy check

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score(te_y,pre)

0.825

In [9]:
logreg.score(te_x,te_y)

0.825

In [10]:
from sklearn.metrics import confusion_matrix
confusion_matrix( te_y,pre)

array([[65,  7],
       [14, 34]])

In [11]:
from sklearn.metrics import classification_report
classification_report(te_y,pre)

'              precision    recall  f1-score   support\n\n           0       0.82      0.90      0.86        72\n           1       0.83      0.71      0.76        48\n\n    accuracy                           0.82       120\n   macro avg       0.83      0.81      0.81       120\nweighted avg       0.83      0.82      0.82       120\n'